<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAnMobile"
        tools:targetApi="31">

        <!-- Màn hình xác nhận đặt vé -->
        <activity android:name=".activity.BookingConfirmActivity" />

        <!-- Màn hình thanh toán -->
        <activity android:name=".activity.PaymentActivity" />

        <!-- Màn hình chính -->
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Màn hình tài khoản-->
        <activity android:name=".activity.AccountActivity" />

        <!--        Màn hình chi tiết phim-->
        <activity android:name=".activity.MovieDetailActivity" />

        <!--        màn hình Danh sách phim-->
        <activity android:name=".activity.MovieListActivity" />

        <!--                màn hình rạp-->
        <activity android:name=".activity.TheaterActivity" />

        <activity android:name=".activity.AdminMainActivity" />
        <activity android:name=".activity.MovieManagementActivity" />
        <activity android:name=".activity.ScheduleManagementActivity" />
        <activity android:name=".activity.DashboardActivity" />

    </application>

</manifest>
